html, body {
	font-size: 14pt;
}
#Header {
	padding: 5px;
	background: #ccc;
	border-bottom: #ddd;
}
#Header h1 {
	font-size: 120%;
	font-weight: bold;
	display: inline;
}
#Header ul#Menu {
	display: inline;
}
#Header ul#Menu li {
	display: inline;
	padding: 5px 10px;
}
#Body {
	padding: 5px;
}
h2 {
	padding: 20px 0 10px 0;
	font-size: 110%;
	font-weight: bold;
}
#Footer {
	padding: 5px;
	text-align: center;
	font-style: italic;
	font-size: 70%;
}

ul.items li {
	display: inline;
}
ul.items  img.thumbnail {
	max-width: 100px;
	max-height: 100px;
}

