html, body {
	font-size: 14pt;
}
#Header {
	padding: 5px;
	background: #ccc;
	border-bottom: #ddd;
}
#Header h1 {
	font-size: 120%;
	font-weight: bold;
	display: inline;
}
#Header ul#Menu {
	display: inline;
}
#Header ul#Menu li {
	display: inline;
	padding: 5px 10px;
}
#Body {
	padding: 5px;
}
#Footer {
	padding: 5px;
	text-align: center;
	font-style: italic;
	font-size: 70%;
}

