<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<title>YouJudge Sysadmin</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="{{ WebRoot }}css/reset.css" />
		<link rel="stylesheet" type="text/css" href="{{ WebRoot }}css/sysadmin.css" />
		{% block htmlHeader %}{% endblock %}
	</head>
	<body>
		<div id="Header">
			<h1>YouJudge</h1>
			<ul id="Menu">
				<li><a href="listsites.php">Sites</a></li>
				<li><a href="newsite.php">[New]</a></li>
				<li><a href="listitemsets.php">Item Sets</a></li>
				<li><a href="newitemset.php">[New]</a></li>
			</ul>
		</div>
		<div id="Body">
			{% block content %}{% endblock %}
		</div>
		<div id="Footer">
			&copy <a href="">JMB Technology Ltd</a> 2014
		</div>
	</body>
</html>
