{% extends 'sysadmin/layout.html.twig' %}



{% block content %}


<form method="Post">
	<label>
		Sysadmin password:
		<input type="password" name="password">
	</label>
	<input type="submit" value="Submit">
</form>
	

{% endblock %}

