{% extends 'sysadmin/layout.html.twig' %}



{% block content %}


<form action="#" method="post">
	
	<div class="entry">
		<label>
			Title:
			<input type="text" name="title">
		</label>
	</div>
	
	<div class="actions">		
		<input type="submit" value="create">
	</div>
	
</form>

{% endblock %}

