<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<title>CodeAPictureJudge Admin</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="{{ WebRoot }}css/siteadmin.css" />
		{% block htmlHeader %}{% endblock %}
	</head>
	<body>
		<div id="Header">
			<ul id="Menu">
				<li><a href="index.php?siteid={{ site.id }}">Home</a></li>
				<li><a href="listpictures.php?siteid={{ site.id }}">Show all Pictures</a></li>
			</ul>
		</div>
		<div id="Body">
			{% block content %}{% endblock %}
		</div>
		<div id="Footer">
		</div>
	</body>
</html>
